body{margin-top:20px;}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #BABABA4A;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(234,234,235,0.2);
    padding: 80px 20px;
}
.text-center {
    text-align: center!important;
}
.error-page h1 {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
}
.text-secondary {
    color: #15395A !important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

.cards{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 12px;
  margin: 32px;
  border-radius: 10px;
}

.cards:hover{
  background-color: whitesmoke;
}

.cards_details{
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  justify-content: center;
  margin: 35px;
  border: 2px solid;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100vw;
}

.para{
  text-align: center;
}

.title{
  text-align: center;
}

.img_contact{
  text-align: center;
  height: 76vh;
}

.title_link:hover{
  color: blue
}

.para{
  color: rgb(18, 138, 251);
  margin: 8px;
  padding: 5px;
}

.effect_title{
  color: rgb(11, 222, 11);
  text-align: center;
}

.id_style{
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 8px;
  background-color: #f70a92;;
  border-radius: 12px;
}

.val_style{
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 8px;
  background-color: #04fab8;
  border-radius: 12px;
}

.form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;

}

.signin_form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 87vh;
}

.form{
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
}

.form_signin{
  height: fit-content;
  width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  padding: 10px;
}

.form_control{
  margin: 10px;
}

.heading{
  display: flex;
  justify-content: center;
}

.accountcolor{
  display: flex;
  justify-content: center;
  width: 46vw;
}

.button_arjust{
  margin: 6px;
}

.form-error{
  color: red;
}

.form-check{
  color: blue;
}

.message{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: xx-large;
  text-align: center;
}

.title_head{
  text-align: center;
  font-size: xxx-large;
}

.visibility{
  color: white;
}

.text_copy{
  width: 57vw;
}

.page_404{ 
  padding:40px 0; 
  background:#fff; 
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
.four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
  font-size:80px;
}
       
.link_404{      
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404{ 
  margin-top:-50px;
}

.container_404{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106vw;
  height: 73vh;
}

.custom-select{
  display: flex;
  justify-content: space-between;
  margin: 12px 10px;
}
