body {
  margin-top: 20px;
}

.text-secondary {
  color: #15395a !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.cards {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 12px;
  margin: 32px;
  border-radius: 10px;
}

.cards:hover {
  background-color: whitesmoke;
}

.cards_details {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  justify-content: center;
  margin: 35px;
  border: 2px solid;
}

.para {
  text-align: center;
}

.title_link:hover {
  color: blue;
}

.para {
  color: rgb(18, 138, 251);
  margin: 8px;
  padding: 5px;
}

.effect_title {
  color: rgb(11, 222, 11);
  text-align: center;
}

.message {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: xx-large;
  text-align: center;
}

.title_head {
  text-align: center;
  font-size: xxx-large;
}

.visibility {
  color: white;
}

.text_copy {
  width: 57vw;
}

.page_404 img {
  width: 100%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 30px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(212, 210, 210);
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

